USE [master]
GO
/****** Object:  Database [ActivitesAndTasksDb]    Script Date: 08-12-2025 13:22:03 ******/
CREATE DATABASE [ActivitesAndTasksDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ActivitesAndTasksDb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ActivitesAndTasksDb.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ActivitesAndTasksDb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ActivitesAndTasksDb_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ActivitesAndTasksDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ActivitesAndTasksDb]
GO
/****** Object:  Table [dbo].[ks_roles]    Script Date: 08-12-2025 13:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ks_roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](100) NOT NULL,
	[RoleDescription] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ks_users]    Script Date: 08-12-2025 13:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ks_users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](100) NOT NULL,
	[LastName] [nvarchar](100) NULL,
	[Email] [nvarchar](150) NOT NULL,
	[PasswordHash] [nvarchar](500) NULL,
	[Phone] [nvarchar](20) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedOn] [datetime] NOT NULL,
	[UpdatedOn] [datetime] NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ks_roles] ON 

INSERT [dbo].[ks_roles] ([RoleId], [RoleName], [RoleDescription], [IsActive]) VALUES (1, N'Admin', N'System Administrator', 1)
INSERT [dbo].[ks_roles] ([RoleId], [RoleName], [RoleDescription], [IsActive]) VALUES (2, N'Manager', N'Manager role', 1)
INSERT [dbo].[ks_roles] ([RoleId], [RoleName], [RoleDescription], [IsActive]) VALUES (3, N'User', N'Regular user', 1)
SET IDENTITY_INSERT [dbo].[ks_roles] OFF
GO
SET IDENTITY_INSERT [dbo].[ks_users] ON 

INSERT [dbo].[ks_users] ([UserId], [FirstName], [LastName], [Email], [PasswordHash], [Phone], [IsActive], [CreatedOn], [UpdatedOn], [RoleId]) VALUES (1, N'Sudhakar', N'Kilaparthi', N'sudhakar@example.com', N'hashed-password-1', N'9876543210', 1, CAST(N'2025-12-05T22:43:28.303' AS DateTime), NULL, 3)
INSERT [dbo].[ks_users] ([UserId], [FirstName], [LastName], [Email], [PasswordHash], [Phone], [IsActive], [CreatedOn], [UpdatedOn], [RoleId]) VALUES (2, N'Manoj', N'Kumar', N'manoj@example.com', N'hashed-password-2', N'9876501234', 1, CAST(N'2025-12-05T22:43:28.303' AS DateTime), NULL, 3)
INSERT [dbo].[ks_users] ([UserId], [FirstName], [LastName], [Email], [PasswordHash], [Phone], [IsActive], [CreatedOn], [UpdatedOn], [RoleId]) VALUES (3, N'Priya', N'Sharma', N'priya@example.com', N'hashed-password-3', N'9988776655', 1, CAST(N'2025-12-05T22:43:28.303' AS DateTime), NULL, 3)
SET IDENTITY_INSERT [dbo].[ks_users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ks_roles__8A2B61606E2C9FE7]    Script Date: 08-12-2025 13:22:03 ******/
ALTER TABLE [dbo].[ks_roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__ks_users__A9D105348F884236]    Script Date: 08-12-2025 13:22:03 ******/
ALTER TABLE [dbo].[ks_users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ks_roles] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ks_users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ks_users] ADD  DEFAULT (getdate()) FOR [CreatedOn]
GO
ALTER TABLE [dbo].[ks_users] ADD  DEFAULT ((3)) FOR [RoleId]
GO
ALTER TABLE [dbo].[ks_users]  WITH CHECK ADD  CONSTRAINT [FK_ks_users_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[ks_roles] ([RoleId])
GO
ALTER TABLE [dbo].[ks_users] CHECK CONSTRAINT [FK_ks_users_RoleId]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateUser]    Script Date: 08-12-2025 13:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_CreateUser]
(
    @FirstName     NVARCHAR(100),
    @LastName      NVARCHAR(100) = NULL,
    @Email         NVARCHAR(150),
    @PasswordHash  NVARCHAR(500),
    @Phone         NVARCHAR(20)  = NULL,
    @IsActive      BIT           = 1,
    @NewUserId     INT           OUTPUT
)
AS
BEGIN
    --SET NOCOUNT ON;

    ----------------------------------------------------------------------
    -- If PasswordHash = 'NoPassword', convert to NULL (recommended)
    ----------------------------------------------------------------------
    IF (@PasswordHash = 'NoPassword')
    BEGIN
        SET @PasswordHash = NULL;            -- Option 1: Save as NULL
        -- SET @PasswordHash = '';           -- Option 2: Save as empty string
    END

    ----------------------------------------------------------------------
    -- Insert User
    ----------------------------------------------------------------------
    INSERT INTO dbo.ks_users
    (
        FirstName,
        LastName,
        Email,
        PasswordHash,
        Phone,
        IsActive
    )
    VALUES
    (
        @FirstName,
        @LastName,
        @Email,
        @PasswordHash,
        @Phone,
        @IsActive
    );

    ----------------------------------------------------------------------
    -- Return newly created UserId
    ----------------------------------------------------------------------
    SET @NewUserId = SCOPE_IDENTITY();

    SELECT @NewUserId AS NewUserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetAllUsers]    Script Date: 08-12-2025 13:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetAllUsers]
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserId,
        u.FirstName,
        u.LastName,
        u.Email,
        u.Phone,
        u.RoleId,
        r.RoleName,
        u.IsActive,
        u.CreatedOn,
        u.UpdatedOn
    FROM ks_users u
    INNER JOIN ks_roles r ON u.RoleId = r.RoleId
    ORDER BY u.UserId ASC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserByEmail]    Script Date: 08-12-2025 13:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserByEmail]
    @Email NVARCHAR(150)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserId,
        u.FirstName,
        u.LastName,
        u.Email,
        u.Phone,
        u.RoleId,
        r.RoleName,
        u.IsActive,
        u.CreatedOn,
        u.UpdatedOn
    FROM ks_users u
    INNER JOIN ks_roles r ON u.RoleId = r.RoleId
    WHERE u.Email = @Email

END;
GO
/****** Object:  StoredProcedure [dbo].[sp_GetUserById]    Script Date: 08-12-2025 13:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_GetUserById]
    @UserId INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        UserId,
        FirstName,
        LastName,
        Email,
        Phone,
        IsActive,
        CreatedOn,
        UpdatedOn
    FROM ks_users
    WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_UserLogin]    Script Date: 08-12-2025 13:22:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UserLogin]
(
    @Email NVARCHAR(150),
    @PasswordHash NVARCHAR(500)
)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        u.UserId,
        u.FirstName,
        u.LastName,
        u.Email,
        u.Phone,
        u.RoleId,
        r.RoleName,
        u.IsActive,
        u.CreatedOn,
        u.UpdatedOn
    FROM ks_users u
    INNER JOIN ks_roles r ON u.RoleId = r.RoleId
    WHERE u.Email = @Email
      AND u.PasswordHash = @PasswordHash
      AND u.IsActive = 1;
END
GO
USE [master]
GO
